<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindgames.dailylaw" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >

        <!-- Notice this tag which provides the database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="DailyLaw.db" />

        <!-- Notice this tag which provides the database version -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.mindgames.dailylaw.model.IPC, com.mindgames.dailylaw.model.Chapters" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Search results activity -->
        <activity
            android:name=".activity.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".activity.MainActivity" >
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

    </application>

</manifest>
